@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    font-family: "Dancing Script", cursive;
}
nav{
    justify-content: space-between;
    padding: 7px 10px;
    border: 1px solid white;
    height: 9vh;
    font-size: 25px;
}

.right-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 27px;
}

.right-nav div{
    text-decoration: underline;
}

.right-nav button img{
    width: 25px;
}

main {
    padding: 20px;
}

.req button {
    background-color: transparent;
    border: 2px solid white;
    padding: 5px 15px;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
     cursor: pointer;
}

.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
}

.profile-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 22px;
}

.profile-photo {
    border: 2px solid white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
}
.profile-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
